.button-container {
    position: absolute;
    top: 3.1rem;
    left: 90%;
}

.btn {
    cursor: pointer;
}

.btn--random {
    font-size: var(--fs-18);
    font-weight: var(--medium);
}

.loading {
    font-size: var(--fs-24); 
}

.quote-container {
    width: 61.4rem;
}

.quote__text::before {
    content: "“";
}

.quote__text,
.quote__genre {
    font-weight: var(--medium);
}

.quote__text {
    color: var(--clr-black);
    border-left: .5rem solid var(--clr-yellow);
    font-size: var(--fs-36);
    padding-left: 9.9rem;
    line-height: 120%;
}

.quote__text::after {
    content: "”";
}

.qoute__info {
    margin-top: 15.9rem;
}

.quote__author {
    color: var(--clr-dark-grey-1);
    font-weight: var(--bold);
    font-size: var(--fs-24);
    margin: 0 0 .8rem;
}

.quote__genre {
    color: var(--clr-dark-grey-2);
    font-size: var(--fs-14); 
}