.card {
    width: 30.9rem;
}

.card__title,
.card__description {
    font-weight: var(--regular);
}

.card__title {
    color: var(--clr-card-title);
    font-size: var(--fs-14);
    margin: 1.4rem 0;
}

.card__subtitle {
    color: var(--clr-card-subtitle);
    font-size: var(--fs-24);
    font-weight: var(--bold);
}

.card__description {
    color: var(--clr-card-description);
    font-size: var(--fs-16);
}