.footer {
	background: var(--clr-footer-BG);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3rem;
	padding: 3.7rem 0;
}

.footer__title,
.footer__copywrite-info {
	font-size: var(--fs-12);
}

.footer__title {
	color: var(--clr-light-grey-1);
	font-weight: var(--bold);
}

.footer__copywrite-info {
	color: var(--clr-light-grey-2);
}
