.header,
.header__logo-title {
	display: flex;
	align-items: center;
}

.header {
    background: var(--clr-white); 
	justify-content: space-between;
	padding: 3.2rem 5.3rem;
}

.header__logo-title {
	font-family: var(--ff-secondary);
	font-weight: var(--bold);
	gap: 0.6rem;
}

.header__logo {
	height: 100%;
}

.primary-header {
	font-size: var(--fs-20);
}
