.btn {
    cursor: pointer;
    border: none;
    background: transparent;
}

.btn--view-more {
    color: var(----clr-card-title);
    font-weight: var(--bold);
    font-size: var(--fs-14);
    display: block;
    width: 43.9rem;
    margin: 3.1rem auto 5.1rem;
}